<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
  <include file="$(find baxter_gazebo)/launch/baxter_world.launch">
    <arg name="right_electric_gripper" value="true"/>
    <arg name="left_electric_gripper" value="true"/>
  </include>

  <!-- Start the Sawyer pick and place demo -->
  <node pkg="joint_ctrl" type="ik_pick_and_place_demo.py" name="ik_pick_and_place_demo" />

</launch>
